@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .sidebar-icon {
    @apply relative flex 
                py-4 w-[100%] pl-2
               border-t-[1px] hover:text-orange-600 font-bold text-lg z-10 transition-all duration-700;
              ;
  }
}

.sidebar-icon:hover:before {
  transition: all 700ms ease;
  width: 100%;
}

.sidebar-icon:before {
  background: linear-gradient(to right, transparent, rgb(255 237 213), rgb(249 115 22));
  content: "";
  left: 0px;
  z-index: 0;
  top: 0px;
  height: 100%;
  width: 0%;
  position:absolute;
} 

